* {
    /* margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
}

body {
    font-family: "Poppins", sans-serif;
}

.skills-container {
    width: 100%;
    max-width: 1001px;
    margin: 0 auto;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.skills-container h1 {
    text-align: left;
}

.skill p:first-child {
    text-align: right;
    width: 100px;
}

.skill {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
}

.progress-line {
    width: 100%;
    height: 7px;
    background-color: #cdcdcd;
    border-radius: 10px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.animate {
    animation: animate 2s forwards;
    transition: 1s all;
}

.progress-line span {
    height: 100%;
    transform: scaleX(0);
    position: absolute;
    left: 0;
    border-radius: 10px;
    transform-origin: left;
}
@keyframes animate {
    0% {
        background-color: rgba(0, 238, 255);
    }

    100% {
        transform: scaleX(1);
        background-color: rgb(58, 55, 255);
    }
}
