.animate {
    animation: animate 2s forwards;
    transition: 1s all;
}

@keyframes animate {
    0% {
        background-color: rgba(0, 238, 255);
    }

    100% {
        transform: scaleX(1);
        background-color: rgb(58, 55, 255);
    }
}
